* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #3367d6;
}

ul {
  list-style-type: none;
}

h2 {
  color: #3c4043;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  padding: 60px 0 0 0;
}

p {
  color: rgba(0, 0, 0, 0.87);
  margin-top: 30px;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 24px;
}

.container {
  max-width: 978px;
  margin: auto;
  padding: 0 20px;
}

.container-full-width {
  padding: 0 20px;
}

header {
  padding: 7px;
  border-bottom: 1px solid #5f6368;
}

h1 {
  font-size: 22px;
  color: #5f6368;
  display: inline-block;
  margin-left: 10px;
  font-weight: 500;
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.header-top .header-top-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-top .header-top-left .logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-top .header-top-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-top .header-top-right .app-google {
  margin: 0 15px;
  color: #5f6368;
  font-size: 25px;
}

.header-top .header-top-right .user-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: cadetblue;
  color: #fff;
}

.header-bottom ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header-bottom ul li {
  margin-right: 15px;
}

.header-bottom ul li a {
  color: #5f6368;
  padding: 5px;
}

.header-bottom ul li a.active {
  color: #3367d6;
  border-bottom: 2px solid #3367d6;
}

