header {
    border-bottom: 1px solid $headerTextColor;
}

h1 {
    font-size: 22px;
    color: $headerTextColor;
    display: inline-block;
    margin-left: 10px;
    font-weight: 500;
}

.header-top {
    @include displayFlex(row, space-between, center);
    padding: $mainSpace / 2 0;
    .header-top-left {
        @include displayFlex(row, center, center);
        .logo-container {
            @include displayFlex(row, center, center);
        }
    }
    .header-top-right {
        @include displayFlex(row, center, center);

        .app-google {
            margin: 0 $mainSpace / 2;
            color: $headerTextColor;
            font-size: 25px;
        }
        .user-img {
            @include displayFlex(row, center, center);
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: cadetblue;
            color: #fff;
        }
    }
}

.header-bottom {
    ul {
        @include displayFlex(row, flex-start, center);
        li {
            margin-right: $mainSpace / 2;
            a {
                color: $headerTextColor;
                padding: 5px;
                display: inline-block;

                &.active {
                    color: $linkColor;
                    border-bottom: 2px solid $linkColor;
                }
            }
        }
    }
}
